* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FFFFFF; 
    color: #121212; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}